<br>
<ng-container *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<ng-container>
  <br />
  <mat-card class="card-header"
    ><button mat-raised-button routerLink="/add-status">
      <mat-icon class="create-icon" fontIcon="add_box"></mat-icon>Thêm mới
    </button></mat-card
  >
  <br />
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Tên</th>
      <td mat-cell *matCellDef="let status">{{ status.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Mô tả</th>
      <td mat-cell *matCellDef="let status">
        {{ status.description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="created">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Ngày tạo</th>
      <td mat-cell *matCellDef="let status">
        {{ status.created | date : "short" : "GMT" }} <br />
      </td>
    </ng-container>
    <ng-container matColumnDef="updated">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Ngày cập nhật</th>
      <td mat-cell *matCellDef="let status">
        {{ status.updated | date : "short" : "GMT" }}<br />
      </td>
    </ng-container>
    <ng-container matColumnDef="deleted">
      <th mat-header-cell *matHeaderCellDef>Xóa</th>
      <td
        mat-cell
        *matCellDef="let status"
        [ngClass]="
          status.deleted === true
            ? 'deleted-status-true'
            : 'deleted-status-false'
        "
      >
        {{ status.deleted }}
      </td>
    </ng-container>
    <ng-container matColumnDef="edit-btn">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let status">
        <button routerLink="/edit-status/{{status.id}}" mat-raised-button class="green-background white-icon">
          <mat-icon class="edit-icon" fontIcon="edit"></mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete-btn">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let status">
        <button
          mat-raised-button
          class="green-background white-icon"
          [disabled]="status.deleted"
          (click)="onDelete(status.id)"
        >
          <mat-icon class="delete-icon" fontIcon="delete"></mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="restore-btn">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let status">
        <button
          mat-raised-button
          class="green-background white-icon"
          [disabled]="!status.deleted"
          (click)="onRestore(status.id)"
        >
          <mat-icon class="restore-icon" fontIcon="restore"></mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</ng-container>
<mat-paginator
  #paginator
  [pageSize]="5"
  [pageSizeOptions]="[2, 5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>